
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /code%20and%20design/wordpress-5.0/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /code%20and%20design/wordpress-5.0/wordpress/index.php [L]
</IfModule>

# END WordPress